.inria-sans-regular {
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #F3F3F3;
    color: #141618;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

a.button,
input[type="submit"] {
    background-color: #EFEFEF;
    padding: 0.2em 1em;
    border: 1px solid #BBB;
    border-radius: 0.2em;
    font-family: inherit;
}

a.button:hover,
input[type="submit"]:hover {
    background-color: #CFCFCF;
}

main {
    width: 80%;
    min-height: 100vh;
    background-color: #fff;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    display: inline-block;
}

section {
    text-align: left;
    margin: 2rem;
}

section + section {
    border-top: 1px dashed #CCC;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 1em 0;
}

td,
th {
    border: 1px solid black;
    padding: 0.4em;
}

.task-column {
    width: 100%;
}

.action-column {
    width: fit-content;
    white-space: nowrap;
}

td.no-data {
    color: #888;
    text-align: center;
}

fieldset {
    padding: 0.5em 1em;
    background-color: #FCFCFC;
    border-radius: 0.2em;
    border: 1px solid #CCC;
}

textarea {
    width: -webkit-fill-available;
    margin: 1em 0;
    border: 1px solid #CCC;
    resize: vertical;
    font-family: inherit;
    box-sizing: border-box;
    padding: 0.5em;
}